@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*Home*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.box {
  padding: 1em;
}
.box:first-child .location {
  padding: 0 1em;
}
.logo {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(5px);
  background: rgba(218, 213, 207, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0;
}
.navbar ul li {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
.navbar ul li a {
  text-decoration: none;
  color: #000;
  padding: 10px 22px;
  transition: all 0.5s ease;
  border-radius: 4px;
}

.navbar ul li a:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px wheat;
}
.body{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(../img/t1.jpg);
  background-position: center;
  background-size: cover;

}
.heading{
  width: 30%;
  text-align: center;
  color: #fff;
}
.heading h1{
  font-size: 30px;
  color: white;
}
.heading a{
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  border-radius: 25px;
  padding: 14px 50px;
  background-color: #fff;
}
.heading a:hover{
  transform: scale(0.95);
  box-shadow: 0 0 10px rgb(247, 244, 239);
}
.tours{
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.places{
  display: inline;
  text-align: center;
  border-radius: 12px;
}

/* About us */
.about .row .content p {
  padding: 1em 0 !important;
}
.contact-bg {
  background-color: #333 !important;
}
.about {
  background-color: #f0e5e9;
}
.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255, 51, 153, 0.09);
}
.heading span {
  color: rgb(95, 19, 19);
}
.about .row {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}
.about .row .video-container {
  flex: 1 1 40rem;
  position: relative;
}
.about .row .video-container video {
  width: 100%;
  border: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  height: 100%;
  object-fit: cover;
}
.about .row .video-container h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: rgb(252, 248, 248);
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  mix-blend-mode: screen;
}
.about .row .content {
  flex: 1 1 40rem;
}
.about .row .content h3 {
  font-size: 2.5rem;
  color: rgb(109, 27, 27);
  text-transform: capitalize;
}
.about .row .content p {
  font-size: 1.5rem;
  color: #111;
  padding: 5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #333;
  color: #fff;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  font-size: 1.1rem;
}
.btn:hover {
  background-color: brown;
}
/* About us 2*/
#facts{
 
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/china_h.jpg) center/cover no-repeat;
  min-height: 30vh;
}
#facts .title-wrap{
  color: #fff;
}
#facts .sm-title{
  color: #fff;
  text-align: center;
  padding-left: 500px;
  font-size: 1.5rem;
}
.facts-item{
  color: #fff;
  text-align: center;
  padding: 4rem 0;
}
.facts-info{
  font-size: 2rem;
  display: block;
  margin: 1rem 0;
}
.facts-info .text{
  text-transform: uppercase;
}
.facts-row{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 3rem;
}
.facts-row{
  gap: 0;
  column-gap: 5rem ;
}
.facts-row{
  grid-template-columns: repeat(4,1fr);
}


/* Destination */
.destination {
  min-height: 100vh;
}
.destination-title {
  font-size: 3em;
  text-align: center;
  padding: 1em;
  margin: 0;
}
.destination .column {
  display: flex;
  justify-content: space-evenly;
}
.destination-card {
  height: 450px;
  width: 30%;
  margin: 1em 0;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.cityName {
  position: absolute;
  bottom: 2em;
  left: 1em;
  color: #fff;
  transition: 0.3s ease all;
}
.rating {
  position: absolute;
  right: 1em;
  bottom: 4.3em;
}
.rating i {
  color: #fff;
  font-size: 1.5em;
}
.fade {
  opacity: 0.5;
}
.destination-card img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  filter: contrast(120%) brightness(70%);
  transition: 0.3s ease all;
}
.destination-card:hover img {
  transform: scale(1.5);
}

/* Package section */
.packages .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:3rem;
}

.packages .box-container .box{
  flex:1 1 20rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.packages .box-container .box img{
  height: 25rem;
  width:100%;
  object-fit: cover;
}

.packages .box-container .box .content{
  padding:1rem;
}

.packages .box-container .box .content h3{
  font-size:1.5rem;
  color:#333;
}

.packages .box-container .box .content h3 i{
  color:var(--orange);
}

.packages .box-container .box .content p{
  font-size:1.3rem;
  color:#666;
  padding:1rem 0;
}

.packages .box-container .box .content .stars i{
  font-size:1.3rem;
  color:var(--orange);
}

.packages .box-container .box .content .price{
  font-size: 2rem;
  color:#333;
  padding-top: 1rem;
}

.packages .box-container .box .content .price span{
  color:#666;
  font-size: 1.5rem;
  text-decoration: line-through;
}
/* services section*/
.services .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
}

.services .box-container .box{
  flex: 0.5rem;
  border-radius: .5rem;
  padding:1rem;
  text-align: center;
}

.services .box-container .box i{
  padding:1rem;
  font-size: 2rem;
  color:var(--orange);
}

.services .box-container .box h3{
  font-size: 1.5rem;
  color:#333;
}

.services .box-container .box:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}
/*Gallery*/

.gallery .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.0rem;
}

.gallery .box-container .box{
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border:1rem solid #fff;
  border-radius: .5rem;
  flex:1 1 25rem;
  height: 25rem;
  position: relative;
}

.gallery .box-container .box img{
  height: 100%;
  width:100%;
  object-fit: cover;
}

.gallery .box-container .box .content{
  position: absolute;
  top:-100%; left:0;
  height: 100%;
  width:100%;
  text-align: center;
  background:rgba(0,0,0,.7);
  padding:2rem;
  padding-top: 5rem;
}

.gallery .box-container .box:hover .content{
  top:0;
}

.gallery .box-container .box .content h3{
  font-size: 1.5rem;
  color:var(--orange);
}

.gallery .box-container .box .content p{
  font-size: 1.0rem;
  color:#eee;
  padding:.5rem 0;
}

/* Contact us */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}
.contact-bg {
  height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(image/contact-bg.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-bg h3 {
  font-size: 1.3rem;
  font-weight: 400;
}
.contact-bg h2 {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.4rem 0;
  letter-spacing: 4px;
}
.line div {
  margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3) {
  height: 3px;
  width: 70px;
  background: #000dc0;
  border-radius: 5px;
}
.line {
  display: flex;
  align-items: center;
}
.line div:nth-child(2) {
  width: 10px;
  height: 10px;
  background: #000dc0;
  border-radius: 50%;
}
.text {
  font-weight: 300;
  opacity: 0.9;
}
.contact-bg .text {
  margin: 1.6rem 0;
}
.contact-body {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}
.contact-info {
  margin: 2rem 0;
  text-align: center;
  padding: 2rem 0;
}
.contact-info span {
  display: block;
}
.contact-info div {
  margin: 0.8rem 0;
  padding: 1rem;
}
.contact-info span .fas {
  font-size: 2rem;
  padding-bottom: 0.9rem;
  color:#000dc0;
}
.contact-info div span:nth-child(2) {
  font-weight: 500;
  font-size: 1.1rem;
}
.contact-info .text {
  padding-top: 0.4rem;
}
.contact-form {
  padding: 2rem 0;
  border-top: 1px solid #c7c7c7;
}
.contact-form form {
  padding-bottom: 1rem;
}
.form-control {
  width: 60%;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.6rem 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  outline: 0;
}
.form-control:focus {
  box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.6rem;
}
.send-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  background: #000dc0;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.send-btn:hover {
  opacity: 0.8;
}
.contact-form > div img {
  width: 85%;
}
.contact-form > div {
  margin: 0 auto;
  text-align: center;
}
.contact-footer {
  padding: 2rem 0;
  background: #000;
}
.contact-footer h3 {
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}
.social-links {
  display: flex;
  justify-content: center;
}
.social-links a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
  transition: all 0.4s ease;
}
.social-links a:hover {
  color: #000dc0;
  border-color: #000dc0;
}

/* media queries */
@media screen and (min-width: 768px) {
  .contact-bg .text{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }

}
@media screen and (min-width: 992px) {
  .contact-bg .text {
    width: 50%;
  }
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-info {
    grid-template-columns: repeat(4, 1fr);
  }

  .heading {
    font-size: 3rem;
  }
}
